<!doctype html>
<html lang="en" ng-app="musicApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="MusicListCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
        Sort By:
        <select ng-model="orderProp">
          <option value="name">Alpha</option>
          <option value="time">Newest</option>
        </select>

      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul>
          <li ng-repeat="music in songs | filter:query | orderBy:orderProp">
            <span>{{music.name}}</span>
            <p>{{music.snippet}}</p>
            <p>{{music.time}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>

